<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>by.bsu.fpmi.siachko.lab1.servlets.GameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MatchServlet</servlet-name>
    <servlet-class>by.bsu.fpmi.siachko.lab1.servlets.MatchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>by.bsu.fpmi.siachko.lab1.servlets.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AttendanceStatisticsServlet</servlet-name>
    <servlet-class>by.bsu.fpmi.siachko.lab1.servlets.AttendanceStatisticsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/game</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MatchServlet</servlet-name>
    <url-pattern>/match</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttendanceStatisticsServlet</servlet-name>
    <url-pattern>/attendance-statistics</url-pattern>
  </servlet-mapping>
</web-app>
